In [2]:
##Read Excel from Your MySQL Uploads Path##

import pandas as pd

file_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI\ICRISAT-District Level Data.xlsx"
## r"" avoids Windows path issues (\)##

df = pd.read_excel(file_path)

   Dist Code  Year  State Code    State Name Dist Name  RICE AREA (1000 ha)  \
0          1  1966          14  Chhattisgarh      Durg                548.0
1          1  1967          14  Chhattisgarh      Durg                547.0
2          1  1968          14  Chhattisgarh      Durg                556.3
3          1  1969          14  Chhattisgarh      Durg                563.4
4          1  1970          14  Chhattisgarh      Durg                571.6

   RICE PRODUCTION (1000 tons)  RICE YIELD (Kg per ha)  WHEAT AREA (1000 ha)  \
0                        185.0                  337.59                  44.0
1                        409.0                  747.71                  50.0
2                        468.0                  841.27                  53.7
3                        400.8                  711.40                  49.4
4                        473.6                  828.55                  44.2

   WHEAT PRODUCTION (1000 tons)  ...  SUGARCANE YIELD (Kg per ha)  \
0                          20.0  ...                      1777.78
1                          26.0  ...                      1500.00
2                          30.0  ...                      1000.00
3                          26.5  ...                      1900.00
4                          29.0  ...                      2000.00

   COTTON AREA (1000 ha)  COTTON PRODUCTION (1000 tons)  \
0                    0.0                            0.0
1                    0.0                            0.0
2                    0.0                            0.0
3                    0.0                            0.0
4                    0.0                            0.0

   COTTON YIELD (Kg per ha)  FRUITS AREA (1000 ha)  VEGETABLES AREA (1000 ha)  \
0                       0.0                   5.95                       6.64
1                       0.0                   5.77                       7.24
2                       0.0                   5.41                       7.40
3                       0.0                   5.52                       7.16
4                       0.0                   5.45                       7.19

   FRUITS AND VEGETABLES AREA (1000 ha)  POTATOES AREA (1000 ha)  \
0                                 12.59                     0.01
1                                 13.02                     0.01
2                                 12.81                     0.10
3                                 12.69                     0.01
4                                 12.64                     0.02

   ONION AREA (1000 ha)  FODDER AREA (1000 ha)
0                  0.60                   0.47
1                  0.56                   1.23
2                  0.58                   1.02
3                  0.56                   0.84
4                  0.52                   0.42

[5 rows x 80 columns]

In [3]:
print(df.head())

   Dist Code  Year  State Code    State Name Dist Name  RICE AREA (1000 ha)  \
0          1  1966          14  Chhattisgarh      Durg                548.0
1          1  1967          14  Chhattisgarh      Durg                547.0
2          1  1968          14  Chhattisgarh      Durg                556.3
3          1  1969          14  Chhattisgarh      Durg                563.4
4          1  1970          14  Chhattisgarh      Durg                571.6

   RICE PRODUCTION (1000 tons)  RICE YIELD (Kg per ha)  WHEAT AREA (1000 ha)  \
0                        185.0                  337.59                  44.0
1                        409.0                  747.71                  50.0
2                        468.0                  841.27                  53.7
3                        400.8                  711.40                  49.4
4                        473.6                  828.55                  44.2

   WHEAT PRODUCTION (1000 tons)  ...  SUGARCANE YIELD (Kg per ha)  \
0                          20.0  ...                      1777.78
1                          26.0  ...                      1500.00
2                          30.0  ...                      1000.00
3                          26.5  ...                      1900.00
4                          29.0  ...                      2000.00

   COTTON AREA (1000 ha)  COTTON PRODUCTION (1000 tons)  \
0                    0.0                            0.0
1                    0.0                            0.0
2                    0.0                            0.0
3                    0.0                            0.0
4                    0.0                            0.0

   COTTON YIELD (Kg per ha)  FRUITS AREA (1000 ha)  VEGETABLES AREA (1000 ha)  \
0                       0.0                   5.95                       6.64
1                       0.0                   5.77                       7.24
2                       0.0                   5.41                       7.40
3                       0.0                   5.52                       7.16
4                       0.0                   5.45                       7.19

   FRUITS AND VEGETABLES AREA (1000 ha)  POTATOES AREA (1000 ha)  \
0                                 12.59                     0.01
1                                 13.02                     0.01
2                                 12.81                     0.10
3                                 12.69                     0.01
4                                 12.64                     0.02

   ONION AREA (1000 ha)  FODDER AREA (1000 ha)
0                  0.60                   0.47
1                  0.56                   1.23
2                  0.58                   1.02
3                  0.56                   0.84
4                  0.52                   0.42

[5 rows x 80 columns]

In [4]:
#clean the agricultural data 
# Remove duplicates
df.drop_duplicates(inplace=True)

# Clean column names
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
)

# Handle missing values
df.fillna(0, inplace=True)

# Trim text columns
for col in df.select_dtypes(include="object"):
    df[col] = df[col].str.strip()

In [6]:
#Save Cleaned File Back to Same MySQL Uploads Folder

cleaned_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI\agri_cleaned_data.csv"

df.to_csv(cleaned_path, index=False)

print("âœ… Cleaned CSV saved for MySQL loading")

âœ… Cleaned CSV saved for MySQL loading

In [7]:
#Load CSV into MySQL Table

In [10]:
import os

path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI"
print(os.listdir(path))

['agri_cleaned_data.csv', 'ICRISAT-District Level Data.xlsx']

In [14]:
import os

file_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI\agri_cleaned_data.csv"
print(os.path.exists(file_path))

True

In [15]:
import pandas as pd

file_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI\agri_cleaned_data.csv"
df = pd.read_csv(file_path)

print(df.head())  # to check the data loaded correctly

   dist_code  year  state_code    state_name dist_name  rice_area_1000_ha  \
0          1  1966          14  Chhattisgarh      Durg              548.0
1          1  1967          14  Chhattisgarh      Durg              547.0
2          1  1968          14  Chhattisgarh      Durg              556.3
3          1  1969          14  Chhattisgarh      Durg              563.4
4          1  1970          14  Chhattisgarh      Durg              571.6

   rice_production_1000_tons  rice_yield_kg_per_ha  wheat_area_1000_ha  \
0                      185.0                337.59                44.0
1                      409.0                747.71                50.0
2                      468.0                841.27                53.7
3                      400.8                711.40                49.4
4                      473.6                828.55                44.2

   wheat_production_1000_tons  ...  sugarcane_yield_kg_per_ha  \
0                        20.0  ...                    1777.78
1                        26.0  ...                    1500.00
2                        30.0  ...                    1000.00
3                        26.5  ...                    1900.00
4                        29.0  ...                    2000.00

   cotton_area_1000_ha  cotton_production_1000_tons  cotton_yield_kg_per_ha  \
0                  0.0                          0.0                     0.0
1                  0.0                          0.0                     0.0
2                  0.0                          0.0                     0.0
3                  0.0                          0.0                     0.0
4                  0.0                          0.0                     0.0

   fruits_area_1000_ha  vegetables_area_1000_ha  \
0                 5.95                     6.64
1                 5.77                     7.24
2                 5.41                     7.40
3                 5.52                     7.16
4                 5.45                     7.19

   fruits_and_vegetables_area_1000_ha  potatoes_area_1000_ha  \
0                               12.59                   0.01
1                               13.02                   0.01
2                               12.81                   0.10
3                               12.69                   0.01
4                               12.64                   0.02

   onion_area_1000_ha  fodder_area_1000_ha
0                0.60                 0.47
1                0.56                 1.23
2                0.58                 1.02
3                0.56                 0.84
4                0.52                 0.42

[5 rows x 80 columns]

In [16]:
import pandas as pd
import mysql.connector
import os

# Step 1: Define your CSV path
folder_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI"
file_name = "agri_cleaned_data.csv"
file_path = os.path.join(folder_path, file_name)

# Step 2: Load CSV into a pandas DataFrame
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print("CSV loaded successfully!")
else:
    raise FileNotFoundError(f"File not found at: {file_path}")

# Step 3: Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',      # Your MySQL host
    user='root',           # Your MySQL username
    password='Adlin@2025', # Your MySQL password
    database='agriculture_db'  # Your database
)

cursor = conn.cursor()

# Step 4: Create table (if not exists) â€” modify columns as per your CSV
create_table_query = """
CREATE TABLE IF NOT EXISTS agri_data (
    Column1 VARCHAR(255),
    Column2 VARCHAR(255),
    Column3 INT,
    Column4 FLOAT
    -- Add more columns according to your CSV
);
"""
cursor.execute(create_table_query)

# Step 5: Insert CSV data into MySQL table
for i, row in df.iterrows():
    insert_query = """
    INSERT INTO agri_data (Column1, Column2, Column3, Column4)
    VALUES (%s, %s, %s, %s)
    """
    cursor.execute(insert_query, tuple(row))

# Step 6: Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("CSV data loaded into MySQL table successfully!")

CSV loaded successfully!

ProgrammingError: Not all parameters were used in the SQL statement

In [20]:
import pandas as pd
import mysql.connector
import os

# -------------------------------
# Step 1: CSV Path
# -------------------------------
folder_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI"
file_name = "agri_cleaned_data.csv"
file_path = os.path.join(folder_path, file_name)

if not os.path.exists(file_path):
    raise FileNotFoundError(f"File not found at: {file_path}")

# Load CSV
df = pd.read_csv(file_path)
print("CSV loaded successfully!")
print(df.head())

# -------------------------------
# Step 2: Connect to MySQL
# -------------------------------
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Adlin@2025',
    database='agriculture_db'
)
cursor = conn.cursor()

# -------------------------------
# Step 3: Create table
# -------------------------------
create_table_query = """
CREATE TABLE IF NOT EXISTS crop_data (
    dist_code VARCHAR(20),
    year INT,
    state_code VARCHAR(10),
    state_name VARCHAR(100),
    dist_name VARCHAR(100),
    rice_area_1000_ha FLOAT,
    rice_production_1000_tons FLOAT,
    rice_yield_kg_per_ha FLOAT,
    wheat_area_1000_ha FLOAT,
    wheat_production_1000_tons FLOAT,
    wheat_yield_kg_per_ha FLOAT,
    kharif_sorghum_area_1000_ha FLOAT,
    kharif_sorghum_production_1000_tons FLOAT,
    kharif_sorghum_yield_kg_per_ha FLOAT,
    rabi_sorghum_area_1000_ha FLOAT,
    rabi_sorghum_production_1000_tons FLOAT,
    rabi_sorghum_yield_kg_per_ha FLOAT,
    sorghum_area_1000_ha FLOAT,
    sorghum_production_1000_tons FLOAT,
    sorghum_yield_kg_per_ha FLOAT,
    pearl_millet_area_1000_ha FLOAT,
    pearl_millet_production_1000_tons FLOAT,
    pearl_millet_yield_kg_per_ha FLOAT,
    maize_area_1000_ha FLOAT,
    maize_production_1000_tons FLOAT,
    maize_yield_kg_per_ha FLOAT,
    finger_millet_area_1000_ha FLOAT,
    finger_millet_production_1000_tons FLOAT,
    finger_millet_yield_kg_per_ha FLOAT,
    barley_area_1000_ha FLOAT,
    barley_production_1000_tons FLOAT,
    barley_yield_kg_per_ha FLOAT,
    chickpea_area_1000_ha FLOAT,
    chickpea_production_1000_tons FLOAT,
    chickpea_yield_kg_per_ha FLOAT,
    pigeonpea_area_1000_ha FLOAT,
    pigeonpea_production_1000_tons FLOAT,
    pigeonpea_yield_kg_per_ha FLOAT,
    minor_pulses_area_1000_ha FLOAT,
    minor_pulses_production_1000_tons FLOAT,
    minor_pulses_yield_kg_per_ha FLOAT,
    groundnut_area_1000_ha FLOAT,
    groundnut_production_1000_tons FLOAT,
    groundnut_yield_kg_per_ha FLOAT,
    sesamum_area_1000_ha FLOAT,
    sesamum_production_1000_tons FLOAT,
    sesamum_yield_kg_per_ha FLOAT,
    rapeseed_and_mustard_area_1000_ha FLOAT,
    rapeseed_and_mustard_production_1000_tons FLOAT,
    rapeseed_and_mustard_yield_kg_per_ha FLOAT,
    safflower_area_1000_ha FLOAT,
    safflower_production_1000_tons FLOAT,
    safflower_yield_kg_per_ha FLOAT,
    castor_area_1000_ha FLOAT,
    castor_production_1000_tons FLOAT,
    castor_yield_kg_per_ha FLOAT,
    linseed_area_1000_ha FLOAT,
    linseed_production_1000_tons FLOAT,
    linseed_yield_kg_per_ha FLOAT,
    sunflower_area_1000_ha FLOAT,
    sunflower_production_1000_tons FLOAT,
    sunflower_yield_kg_per_ha FLOAT,
    soyabean_area_1000_ha FLOAT,
    soyabean_production_1000_tons FLOAT,
    soyabean_yield_kg_per_ha FLOAT,
    oilseeds_area_1000_ha FLOAT,
    oilseeds_production_1000_tons FLOAT,
    oilseeds_yield_kg_per_ha FLOAT,
    sugarcane_area_1000_ha FLOAT,
    sugarcane_production_1000_tons FLOAT,
    sugarcane_yield_kg_per_ha FLOAT,
    cotton_area_1000_ha FLOAT,
    cotton_production_1000_tons FLOAT,
    cotton_yield_kg_per_ha FLOAT,
    fruits_area_1000_ha FLOAT,
    vegetables_area_1000_ha FLOAT,
    fruits_and_vegetables_area_1000_ha FLOAT,
    potatoes_area_1000_ha FLOAT,
    onion_area_1000_ha FLOAT,
    fodder_area_1000_ha FLOAT
);
"""
cursor.execute(create_table_query)
print("Table 'crop_data' created successfully!")

CSV loaded successfully!
   dist_code  year  state_code    state_name dist_name  rice_area_1000_ha  \
0          1  1966          14  Chhattisgarh      Durg              548.0
1          1  1967          14  Chhattisgarh      Durg              547.0
2          1  1968          14  Chhattisgarh      Durg              556.3
3          1  1969          14  Chhattisgarh      Durg              563.4
4          1  1970          14  Chhattisgarh      Durg              571.6

   rice_production_1000_tons  rice_yield_kg_per_ha  wheat_area_1000_ha  \
0                      185.0                337.59                44.0
1                      409.0                747.71                50.0
2                      468.0                841.27                53.7
3                      400.8                711.40                49.4
4                      473.6                828.55                44.2

   wheat_production_1000_tons  ...  sugarcane_yield_kg_per_ha  \
0                        20.0  ...                    1777.78
1                        26.0  ...                    1500.00
2                        30.0  ...                    1000.00
3                        26.5  ...                    1900.00
4                        29.0  ...                    2000.00

   cotton_area_1000_ha  cotton_production_1000_tons  cotton_yield_kg_per_ha  \
0                  0.0                          0.0                     0.0
1                  0.0                          0.0                     0.0
2                  0.0                          0.0                     0.0
3                  0.0                          0.0                     0.0
4                  0.0                          0.0                     0.0

   fruits_area_1000_ha  vegetables_area_1000_ha  \
0                 5.95                     6.64
1                 5.77                     7.24
2                 5.41                     7.40
3                 5.52                     7.16
4                 5.45                     7.19

   fruits_and_vegetables_area_1000_ha  potatoes_area_1000_ha  \
0                               12.59                   0.01
1                               13.02                   0.01
2                               12.81                   0.10
3                               12.69                   0.01
4                               12.64                   0.02

   onion_area_1000_ha  fodder_area_1000_ha
0                0.60                 0.47
1                0.56                 1.23
2                0.58                 1.02
3                0.56                 0.84
4                0.52                 0.42

[5 rows x 80 columns]
Table 'crop_data' created successfully!

In [21]:
import pandas as pd
import mysql.connector
import numpy as np
import os

# -------------------------------
# STEP 1: LOAD CSV
# -------------------------------
file_path = r"C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Project_Agri_2_GUVI\agri_cleaned_data.csv"

df = pd.read_csv(file_path)

# Replace NaN with None (important for MySQL)
df = df.replace({np.nan: None})

print("âœ… CSV loaded")
print("Rows:", len(df))
print("Columns:", len(df.columns))

# -------------------------------
# STEP 2: MYSQL CONNECTION
# -------------------------------
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Adlin@2025",
    database="agriculture_db"
)
cursor = conn.cursor()

# -------------------------------
# STEP 3: PREPARE INSERT QUERY
# -------------------------------
table_name = "crop_data"

columns = ", ".join(f"`{col}`" for col in df.columns)
placeholders = ", ".join(["%s"] * len(df.columns))

insert_query = f"""
INSERT INTO {table_name} ({columns})
VALUES ({placeholders})
"""

# -------------------------------
# STEP 4: INSERT ALL RECORDS
# -------------------------------
data = [tuple(row) for row in df.itertuples(index=False, name=None)]

cursor.executemany(insert_query, data)
conn.commit()

print(f"âœ… {cursor.rowcount} records inserted successfully")

# -------------------------------
# STEP 5: CLOSE CONNECTION
# -------------------------------
cursor.close()
conn.close()

print("ðŸŽ‰ DATA INSERT COMPLETED")

âœ… CSV loaded
Rows: 16146
Columns: 80
âœ… 16146 records inserted successfully
ðŸŽ‰ DATA INSERT COMPLETED